<p id="notice"><%= notice %></p>

<p>
  <strong>Id mp:</strong>
  <%= @materia_prima.id_mp %>
</p>

<p>
  <strong>Color:</strong>
  <%= @materia_prima.color %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @materia_prima.cantidad %>
  <%= @hello %>
</p>

<%= link_to 'Edit', edit_materia_prima_path(@materia_prima) %> |
<%= link_to 'Back', materia_primas_path %>
